*ref:https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/*

**Exercise 1: Print First 10 natural numbers using while loop**

In [1]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

**Exercise 2: Print the following pattern**

```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [3]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Exercise 3: Calculate the sum of all numbers from 1 to a given number**

Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

In [4]:
# s: store sum of all numbers
s = 0
n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1, n + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Enter number 4


Sum is:  10

**Exercise 4: Write a program to print multiplication table of a given number**

For example, num = 2 so the output should be

`2
4
6
8
10
12
14
16
18
20`

In [5]:
n = 2
# stop: 11 (because range never include stop number in result)
# run loop 10 times
for i in range(1, 11, 1):
    # 2 *i (current number)
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

**Exercise 5: Display numbers from a list using loop**

Write a program to display only those numbers from a list that satisfy the following conditions:
- The number must be divisible by five
- If the number is greater than 150, then skip it and move to the next number
- If the number is greater than 500, then stop the loop

Given:

`numbers = [12, 75, 150, 180, 145, 525, 50]`

Expected output:

`75
150
145`

In [6]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

**Exercise 6: Count the total number of digits in a number**

For example, the number is 75869, so the output should be 5.

In [7]:
num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

**Exercise 7: Print list in reverse order using a loop**

Given:

`list1 = [10, 20, 30, 40, 50]`

Expected output:

`50
40
30
20
10`

In [8]:
list1 = [10, 20, 30, 40, 50]
# reverse list
new_list = reversed(list1)
# iterate reversed list
for item in new_list:
    print(item)

50
40
30
20
10

**Exercise 8: Use else block to display a message “Done” after successful execution of for loop**

Given:

`for i in range(5):
    print(i)`

Expected output:

`0
1
2
3
4
Done!`

In [9]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

**Exercise 9: Write a program to display all prime numbers within a range**

Given:

`start = 25
end = 50`

Expected output:

`Prime numbers between 25 and 50 are:
29
31
37
41
43
47`

In [10]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

**Exercise 10: Display Fibonacci series up to 10 terms**

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [11]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

**Exercise 11: Find the factorial of a given number**

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

`5! = 5 × 4 × 3 × 2 × 1 = 120`

Expected output:
`120`

In [12]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

**Exercise 12: Reverse a given integer number**

Given:

76542

Expected output:

24567

In [13]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

Given Number  76542
Revere Number  24567

**Exercise 13: Use a loop to display elements from a given list present at odd index positions**

Given:

`my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]`

Note: list index always starts at 0

Expected output:

`20 40 60 80 100`

In [14]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# stat from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

**Exercise 14: Calculate the cube of all numbers from 1 to a given number**

Given:

`input_number = 6`

Expected output:

`Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216`

In [15]:
input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

**Exercise 15: Find the sum of the series upto n terms**

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

Given:
n = 5

Expected output:
24690

In [16]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

**Exercise 16: Print the following pattern**

Write a program to print the following start pattern using the for loop

```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [17]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*