**Exercise 1: Print First 10 natural numbers using while loop**

**Exercise 2: Print the following pattern**

```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

**Exercise 3: Calculate the sum of all numbers from 1 to a given number**

Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

**Exercise 4: Write a program to print multiplication table of a given number**

For example, num = 2 so the output should be

`2
4
6
8
10
12
14
16
18
20`

**Exercise 5: Display numbers from a list using loop**

Write a program to display only those numbers from a list that satisfy the following conditions:
- The number must be divisible by five
- If the number is greater than 150, then skip it and move to the next number
- If the number is greater than 500, then stop the loop

Given:

`numbers = [12, 75, 150, 180, 145, 525, 50]`

Expected output:

`75
150
145`

**Exercise 6: Count the total number of digits in a number**

For example, the number is 75869, so the output should be 5.

**Exercise 7: Print list in reverse order using a loop**

Given:

`list1 = [10, 20, 30, 40, 50]`

Expected output:

`50
40
30
20
10`

**Exercise 8: Use else block to display a message “Done” after successful execution of for loop**

Given:

`for i in range(5):
    print(i)`

Expected output:

`0
1
2
3
4
Done!`

**Exercise 9: Write a program to display all prime numbers within a range**

Given:

`start = 25
end = 50`

Expected output:

`Prime numbers between 25 and 50 are:
29
31
37
41
43
47`

**Exercise 10: Display Fibonacci series up to 10 terms**

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

**Exercise 11: Find the factorial of a given number**

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

`5! = 5 × 4 × 3 × 2 × 1 = 120`

Expected output:
`120`

**Exercise 12: Reverse a given integer number**

Given:

76542

Expected output:

24567

**Exercise 13: Use a loop to display elements from a given list present at odd index positions**

Given:

`my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]`

Note: list index always starts at 0

Expected output:

`20 40 60 80 100`

**Exercise 14: Calculate the cube of all numbers from 1 to a given number**

Given:

`input_number = 6`

Expected output:

`Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216`

**Exercise 15: Find the sum of the series upto n terms**

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

Given:
n = 5

Expected output:
24690

**Exercise 16: Print the following pattern**

Write a program to print the following start pattern using the for loop

```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```