*ref:https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/*

**Ejercicio 1: imprime los primeros 10 números naturales usando un bucle while**

In [1]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

**Ejercicio 2: Imprime el siguiente patrón**

```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [11]:
print("Patrón numérico")

# Decide el número de filas. (el patrón anterior contiene 5 filas)
row = 5
# inicio: 1
# parada: fila+1 (el rango nunca incluye el número de parada en el resultado)
# paso: 1
# ejecutar bucle 5 veces
for i in range(1, row + 1, 1):
    # Ejecutar bucle interior i+1 veces
    for j in range(1, i + 1):
        print(j, end=' ')
    # línea vacía después de cada fila
    print("")

Patrón numérico
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Ejercicio 3: Calcular la suma de todos los números desde el 1 hasta un número dado**

Escribe un programa para pedir un número al usuario y calculer la suma de todos los números desde 1 hasta el número dado

Por ejemplo, si el usuario ingresó 10, la salida debería ser 55 (1+2+3+4+5+6+7+8+9+10)

In [12]:
# s: almacena la suma de todos los números
s = 0
n = int(input("Ingresar número "))
# ejecutar el bucle n veces
# parada: n+1 (porque el rango nunca incluye el número de parada en el resultado)
for i in range(1, n + 1, 1):
    # agregar el número actual a la variable de suma
    s += i
print("\n")
print("La suma es: ", s)

Ingresar número 23


La suma es:  276

**Ejercicio 4: Escribe un programa para imprimir la tabla de multiplicar de un número dado**

Por ejemplo, num = 2 

`2
4
6
8
10
12
14
16
18
20`

In [13]:
n = 2
# parada: 11 (porque el rango nunca incluye el número de parada en el resultado)
# ejecutar el ciclo 10 veces
for i in range(1, 11, 1):
    # 2 *i (número actual)
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

**Ejercicio 5: Mostrar números de una lista usando bucle**

Escriba un programa para mostrar solo aquellos números de una lista que satisfagan las siguientes condiciones:
- El número debe ser divisible por cinco.
- Si el número es mayor que 150, sáltar y procesar al siguiente número
- Si el número es mayor que 500, detener el ciclo

Dado:

`numbers = [12, 75, 150, 180, 145, 525, 50]`

Salida esperada:

`75
150
145`

In [14]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterar cada elemento de la lista
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # comprobar si el número es divisible por 5
    elif item % 5 == 0:
        print(item)

75
150
145

**Ejercicio 6: Cuenta el número total de dígitos de un número**

Por ejemplo, para el número es 75869, la salida debería ser 5.

In [16]:
num = 75869
count = 0
while num != 0:
    # floor division
    # para reducir el último dígito del número
    num = num // 10

    # incrementa contador en 1
    count = count + 1
print("Los dígitos totales son:", count)

Los dígitos totales son: 5

**Ejercicio 7: Imprimir una lista en orden inverso usando un bucle**

Dado:

`list1 = [10, 20, 30, 40, 50]`

Salida esperada:

`50
40
30
20
10`

In [19]:
list1 = [10, 20, 30, 40, 50]
# invertir lista
new_list = reversed(list1)
# iterar lista invertida
for item in new_list:
    print(item)

50
40
30
20
10

**Ejercicio 8: usar el bloque `else` para mostrar un mensaje "Terminado" después de la ejecución exitosa del bucle for**

Dado:

`for i in range(5):
    print(i)`

Salida esperada:

`0
1
2
3
4
Terminado!`

In [2]:
for i in range(5):
    print(i)
else:
    print("Terminado!")

0
1
2
3
4
Terminado!

**Ejercicio 9: Escribe un programa para mostrar todos los números primos dentro de un rango**

Dado:

`start = 25
end = 50`

Salida esperada:

`Los números primos entre 25 y 50 son:
29
31
37
41
43
47`

In [3]:
start = 25
end = 50
print("Los números primos entre", start, "y", end, "son:")

for num in range(start, end + 1):
    # todos los números primos son mayores que 1
    # si el número es menor o igual a 1, no es primo
    if num > 1:
        for i in range(2, num):
            # comprobar los factores
            if (num % i) == 0:
                # no es un número primo así que se rompe el bucle interno y
                # buscar el siguiente número
                break
        else:
            print(num)

Los números primos entre 25 y 50 son:
29
31
37
41
43
47

**Ejercicio 10: Mostrar series de Fibonacci hasta 10 términos**

La secuencia de Fibonacci es una serie de números. El número siguiente de la serie se encuentra sumando los dos números anteriores. Los dos primeros números son 0 y 1.

Por ejemplo, 0, 1, 1, 2, 3, 5, 8, 13, 21. El siguiente número en esta serie anterior es 13+21 = 34.

In [4]:
# los dos primeros numeros
num1, num2 = 0, 1

print("Secuencia Fibonacci:")
# ejecutar el ciclo 10 veces
for i in range(10):
    # imprimir el siguiente número de una serie
    print(num1, end="  ")
    # suma los últimos dos números para obtener el siguiente número
    res = num1 + num2

    # actualizar valores
    num1 = num2
    num2 = res

Secuencia Fibonacci:
0  1  1  2  3  5  8  13  21  34

**Ejercicio 11: Encuentra el factorial de un número dado**

El factorial (símbolo: !) significa multiplicar todos los números enteros desde el número elegido hasta 1.

Por ejemplo: calcular el factorial de 5

`5! = 5 × 4 × 3 × 2 × 1 = 120`

Salida esperada:
`120`

In [5]:
num = 5
factorial = 1
if num < 0:
    print("Factorial no existe para números negativos")
elif num == 0:
    print("El factorial de 0 es 1")
else:
    # ejecutar el ciclo 5 veces
    for i in range(1, num + 1):
        # multiplicar factorial por numero actual
        factorial = factorial * i
    print("El factorial de", num, "es", factorial)

El factorial de 5 es 120

**Ejercicio 12: Invertir un número entero dado**

Dado:

76542

Salida esperada:

24567

In [6]:
num = 76542
reverse_number = 0
print("Númbero dado ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Número invertido ", reverse_number)

Númbero dado  76542
Número invertido  24567

**Ejercicio 13: Usa un bucle para mostrar elementos de una lista dada presentes en posiciones impares del índice**

Dado:

`my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]`

Nota: el índice de la lista siempre comienza en 0

Salida esperada:

`20 40 60 80 100`

In [14]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# comience desde el índice 1 con el paso 2 (significa 1, 3, 5, etc.)
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

**Ejercicio 14: Calcular el cubo de todos los números desde el 1 hasta un número dado**

Dado:

`input_number = 6`

Salida esperada:

`El número actual es: 1 y el cubo es 1
Número actual es: 2 y el cubo es 8
Número actual es: 3 y el cubo es 27
Número actual es: 4 y el cubo es 64
Número actual es: 5 y el cubo es 125
Número actual es: 6 y el cubo es 216`

In [7]:
input_number = 6
for i in range(1, input_number + 1):
    print("Número actual es:", i, " y el cubo es", (i * i * i))

Número actual es: 1  y el cubo es 1
Número actual es: 2  y el cubo es 8
Número actual es: 3  y el cubo es 27
Número actual es: 4  y el cubo es 64
Número actual es: 5  y el cubo es 125
Número actual es: 6  y el cubo es 216

**Ejercicio 15: Encuentra la suma de la serie hasta n términos**

Escribe un programa para calcular la suma de series hasta n término. Por ejemplo, si n =5 la serie se convertirá en 2 + 22 + 222 + 2222 + 22222 = 24690

Dado:
n = 5

Salida esperada:
24690

In [8]:
n = 5
# primer número de secuencia
start = 2
sum_seq = 0

# ejecutar bucle n veces
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calcular el siguiente termino
    start = start * 10 + 2
print("\nLa suma de la serie anterior es:", sum_seq)

2+22+222+2222+22222+
La suma de la serie anterior es: 24690

**Ejercicio 16: Imprime el siguiente patrón**

Escribe un programa para imprimir el siguiente patrón usando el ciclo for
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [17]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*